@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  cursor: pointer !important;
}

/* span.keyword{
    position: relative;
    width:  auto;
    height: auto;
    overflow: hidden;
  }

  
  span.item{
    position: absolute;
    transform-origin: 50% 70%;
   
  }
  
  
  
  span.item:nth-child(1) {
    animation: flipUp 9s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0s both infinite;
  }
  
  span.item:nth-child(2) {
    animation: flipUp 9s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.5s both infinite;
  }
  span.item:nth-child(3) {
    animation: flipUp 9s cubic-bezier(0.68, -0.55, 0.26, 1.55) 3s both infinite;
}
  
  /* ANIMATION */

/* @keyframes flipUp {
    0% {
     opacity: 0;
     margin-top: -100px;
    }
    13.2%{
      opacity: 1;
      margin-top: 0;
      transform: rotateX(0deg);
    }
    33%,100% {
      opacity: 0;
       margin-top: 0;
      transform: rotateX(90deg);
      
    }
  }  */

span.keyword {
  width: 200px;
  height: 50px;
 
  position: relative;
  overflow: hidden;
  text-align: center;
}

span.keyword > .item:nth-child(1) {
  position: absolute;
  top: 100%;
  left: 0;
  animation: flipUp 9s cubic-bezier(0.68, -0.55, 0.26, 1.55) 0s both infinite;
}
span.keyword > .item:nth-child(2) {
  position: absolute;
  top: 100%;
  left: 0;
  animation: flipUp 9s cubic-bezier(0.68, -0.55, 0.26, 1.55) 1.5s both infinite;
}
span.keyword > .item:nth-child(3) {
  position: absolute;
  top: 100%;
  left: 0;
  animation: flipUp 9s cubic-bezier(0.68, -0.55, 0.26, 1.55) 3s both infinite;
}

@keyframes flipUp {
  0% {
    opacity: 0;
   top: 100%;
  }
  13.2% {
    opacity: 1;
    top: 0;
  
  }
  33%,
  100% {
    opacity: 0;
    top: 100%;

  }
}
